.todo-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  padding: 2em 1.2em !important;
  
  border: 1px solid transparent;
  transition: border-color .2s ease-in-out;
  
}

.collection .collection-item:last-child {
  border-bottom: 1px solid transparent;
}

.todo-item h3 {
  margin: 0;
  line-height: 1;
}

.todo-item-body {
  flex: 0 0 80%;
}

.todo-item-checkbox {
  order: 2;

  color: inherit;
}

.btn {
  display: inline-flex;
  align-items: center;
  margin-top: 1.5em;
}
